
pyOpenSSL
anytree
bs4
cryptography
datasets
doccano_client
docutils
dt
exrex
ignore[import]
inflect
jinja2
langdetect
matplotlib
mp
np
python-ntlm
nx
pd
playwright
railroad
rapidfuzz
regex
requests
requests_cache
resources
sentence_transformers
setfit
setuptools
scikit-learn
sns
spacy
sphinx
tldextract
torch
tornado
transformers
unidecode
werkzeug
PyYAML
lxml
spacy-transformers
torch 
torchvision 
torchaudio
